body {
    padding: 0;
    margin: 0;
}

.background-image {
    background-image: url('./glass.png');
    background-size: cover;
    background-position: center;
}

.full-screen {
    width: 100vw;
    height: 100vh;
}

.center-content {
    display: flex;
    justify-content: center;
    align-items: center;
}

.planet-img {
    width: 350px;
}

@media only screen and (max-width: 600px) {
    .planet-img {
        width: 200px;
    }
}
