.search{
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
  margin-top: 10px;
}

#profile{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
